@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@font-face {
  font-family:"corporatesdemi";
  src:url("./fonts/corporate_demi_regular.woff2") format("woff2"),
  url("./fonts/corporate_demi_regular.woff") format("woff");
  font-weight:normal;
  font-style:normal;
  font-display:swap;
}
@font-face {
  font-family:"corporate_slight";
  src:url("./fonts/corporate_regular.woff2") format("woff2"),
  url("./fonts/corporate_regular.woff") format("woff");
  font-weight:normal;
  font-style:normal;
  font-display:swap;
}
@font-face {
  font-family:"corporate_sregular";
  src:url("./fonts/corporate__regular.woff2") format("woff2"),
  url("./fonts/corporate__regular.woff") format("woff");
  font-weight:normal;
  font-style:normal;
  font-display:swap;
}
@font-face {
  font-family:"corporate_sbold";
  src:url("./fonts/corporate_bold.woff2") format("woff2"),
  url("./fonts/corporate_bold.woff") format("woff");
  font-weight:normal;
  font-style:normal;
  font-display:swap;
}
@font-face {
  font-family:"bauer_bodoniBdoldstylefigures";
  src:url("./fonts/bauer_bodoni_oldstyle_figures_bold.woff2") format("woff2"),
  url("./fonts/bauer_bodoni_oldstyle_figures_bold.woff") format("woff");
  font-weight:normal;
  font-style:normal;
  font-display:swap;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "corporate_slight", Verdana, Geneva, Tahoma, sans-serif;
  -webkit-font-smoothing: antialiased;
}

.master_slider .swiper-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.master_slider .swiper-pagination-bullet {
  width: 13px;
  height: 13px;
  border-radius: 100%;
  opacity: 1;
  background-color: #ffffff;
}

.master_slider .swiper-pagination-bullet-active {
  width: 50px;
  height: 8px;
  border-radius: 4px / 50%;
  background-color: #ffffff;
  opacity: 1;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none !important;
}

.font-corporate-regular {
  font-family: corporate_sregular;
}

.font-corporate-light {
  font-family: corporate_slight;
}

.font-corporate-bold {
  font-family: corporate_sbold;
}